<nav class="fixed w-full z-20 top-0 start-0">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <div class="ml-auto" *ngIf="this.authService.isLoggedIn">
      <div *ngIf="this.current">
        <button
          id="dropdownDividerButton"
          data-dropdown-toggle="dropdownDivider"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center"
          type="button"
          (click)="openDropDown()"
        >
          {{ this.current.user.email }}
          <svg
            class="w-2.5 h-2.5 ms-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 4 4 4-4"
            />
          </svg>
        </button>

        <!-- Dropdown menu -->
        <div
          id="dropdownDivider"
          [class.hidden]="!isDropDownOpen"
          [class.show]="isDropDownOpen"
          class="absolute z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44"
        >
          <ul
            class="py-2 text-sm text-gray-700"
            aria-labelledby="dropdownDividerButton"
          >
            <li>
              <a class="block px-4 py-2 hover:bg-gray-100">View Profile</a>
            </li>
            <li>
              <a
                (click)="this.isDropDownOpen = !this.isDropDownOpen"
                [routerLink]="['/dashboard/profile/change-password']"
                class="block px-4 py-2 hover:bg-gray-100"
                >Change Password</a
              >
            </li>
            <li>
              <a
                (click)="this.isDropDownOpen = !this.isDropDownOpen"
                [routerLink]="['/dashboard/profile/change-email']"
                class="block px-4 py-2 hover:bg-gray-100"
                >Change Email</a
              >
            </li>
          </ul>
          <div class="py-2">
            <button
              (click)="logout()"
              class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
            >
              Sign Out
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
