<div class="max-w-lg mx-auto shadow-lg bg-form border border-gray-200 p-10">
  <div
    class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50"
    role="alert"
    *ngIf="this.success"
  >
    {{ message }}
  </div>
  <div
    class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50"
    role="alert"
    *ngIf="this.failure"
  >
    {{ message }}
  </div>
  <form [formGroup]="emailForm" (ngSubmit)="sendEmail()">
    <h3 class="text-2xl font-bold mb-6">Find your account</h3>
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900"
      >Please enter your email to reset your password.</label
    >
    <div class="space-y-4">
      <input
        type="email"
        id="email"
        formControlName="email"
        aria-describedby="helper-text-explanation"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="john@domain.com"
      />
      <div
        *ngIf="emailForm.get('email')?.errors?.['required'] && emailForm.get('email')?.touched"
        class="text-red-500 text-sm"
      >
        email is required.
      </div>
      <div class="flex justify-between">
        <button
          type="submit"
          class="text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 mb-2"
        >
          Send Email
        </button>
        <a
          href="/login"
          class="text-black border border-gray-300 bg-gray-200 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 mb-2"
        >
          Cancel
        </a>
      </div>
    </div>
  </form>
</div>
