<div class="max-w-lg mx-auto shadow-lg border border-gray-200 p-10">
  <div
    class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
    role="alert"
    *ngIf="this.success"
  >
    {{ message }}
  </div>
  <div
    class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
    role="alert"
    *ngIf="this.failure"
  >
    {{ message }}
  </div>
  <form [formGroup]="emailForm" (ngSubmit)="sendEmail()">
    <h3 class="text-2xl font-bold mb-6">Change Password Request</h3>
    <label
      for="email"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Your email</label
    >
    <div class="space-y-4">
      <input
        type="email"
        id="email"
        formControlName="email"
        aria-describedby="helper-text-explanation"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="name@flowbite.com"
      />
      <button
        type="submit"
        class="text-white bg-[#24292F] hover:bg-[#24292F]/90 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 me-2 mb-2"
      >
        Send Email
      </button>
    </div>
  </form>
</div>
